*{
    font-family: Arial, sans-serif;
    background-color: #0f171e;
    color: #fff;
    text-decoration: none;
    margin-top: 1vh;
}

.text1{
    color: rgb(131, 0, 0);
}

.text2{
    color: rgb(0, 111, 0);
}

.link:hover{
    text-decoration: underline;
}

.container{
    width: 50vw;
    margin: auto;
    background-color: white;
}

.form{
    display: flex;
    flex-direction: column;
    padding: 1%;
    border-style: solid;
    border-color: white;
}

.field{
    display: flexbox;
}

p{
    width: 35%;
    text-align: right;
    display: inline-block;
    margin-right: 2vw;
}

.input{
    width: 50%;
    border: solid;
}

#dadosCidade{
    display: none;
}

#relatorio{
    display: none;
}