*{
    font-family: Arial, sans-serif;
    background-color: #0f171e;
    color: #fff;
    text-decoration: none;
    margin-top: 1vh;
}

.text1{
    color: rgb(131, 0, 0);
}

.text2{
    color: rgb(0, 111, 0);
}

.link:hover{
    text-decoration: underline;
}

.image{
    width: 75%;
}

table, th, td {
    border:1px solid white;
}

table{
    width: 100%;
}

form{
    width: 15vw;
}